{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Shopping Cart - Urban Mini Mart{% endblock %}

{% block content %}
<div class="body-wrapper">
    <br> <br>
    <div class="liton__shoping-cart-area mb-120">
        <div class="container">
            {% if not cart_items %}
            <div class="text-center">
                <h2>Your shopping cart is empty</h2>
                <br>
                <a href="{% url 'product:shop' %}" class="theme-btn-1 btn btn-effect-1">Continue shopping</a>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping-cart-inner">
                        <div class="shoping-cart-table table-responsive">
                            <table class="table">
                                <tbody>
                                    {% for cart_item in cart_items %} 
                                    <tr>
                                        <td class="cart-product-remove">x</td>
                                        <td class="cart-product-image">
                                            <a href="{{ cart_item.product.get_url }}"><img src='{{ cart_item.product.images.first.image.url }}' alt="#"></a>
                                        </td>
                                        <td class="cart-product-info">
                                            <h4><a href="{{ cart_item.product.get_url }}"> {{ cart_item.product.product_name }}</a></h4>
                                        </td>
                                        <td class="cart-product-price">₹{{ cart_item.product.price }}</td>
                                        <td class="cart-product-quantity">
                                            <div class="cart-plus-minus">
                                                <a href="{% url 'carts:remove_cart' cart_item.product.id %}">−</a>
                                                <input type="text" value="{{ cart_item.quantity }}" class="cart-plus-minus-box" readonly>
                                                <a href="{% url 'carts:add_cart' cart_item.product.id %}">+</a>
                                            </div>
                                        </td>
                                        <td class="cart-product-subtotal">₹{{ cart_item.sub_total }}</td>
                                        <td>
                                             <a href="{% url 'carts:remove_cart_item' cart_item.product.id %}" class="theme-btn-1 btn btn-effect-1">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="btn-wrapper text-right text-end">
                                <a href="{% url 'product:shop' %}" class="theme-btn-1 btn btn-effect-1">Continue shopping</a>
                            </div>
                        </div>
                        
                        <div class="shoping-cart-total mt-50">
                            <h4>Cart Totals</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Cart Subtotal</td>
                                        <td>₹{{ total }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Order Total</strong></td>
                                        <td><strong>₹{{ total }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="btn-wrapper text-right text-end">
                                <a href="checkout.html" class="theme-btn-1 btn btn-effect-1">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
{% endblock %}