{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Manage Profile</title>
    <link rel="stylesheet" href='{% static "style.css" %}'>
</head>
<body>

<div class="layout">

    <div class="sidebar">
        <h3>Delivery Panel</h3>
        <a href='{% static "dashboard.html" %}'>Dashboard</a>
        <a href='{% static "profile.html" %}'>Manage Profile</a>
        <a href='{% static "orders.html" %}'>Assigned Orders</a>
        <a href='{% static "login.html" %}'>Logout</a>
    </div>

    <div class="content">
        <div class="card">
            <h2>My Profile</h2>
            <p><b>Name:</b> Rahul Sharma</p>
            <p><b>Phone:</b> 9876543210</p>
            <p><b>Email:</b> rahul@gmail.com</p>
            <p><b>Address:</b> Indore, Madhya Pradesh</p>

            <button class="btn">Edit Profile</button>
        </div>
    </div>

</div>

</body>
</html>
