{% load static %}
<header class="header">
        <div class="hamburger" onclick="toggleSidebar()">
            <span class="material-icons">menu</span>
        </div>
        <img src='{% static "img/logo.png" %}' alt="Logo" class="logo">
        <div class="search-bar">
            <input type="text" placeholder="Search users, products, orders...">
        </div>
        <div class="notifications">
            <span class="material-icons">notifications</span>
            <span class="badge bg-danger">3</span>
        </div>
        <div class="user-profile">
            <span class="material-icons">account_circle</span>
        </div>
    </header>
