{% load static %}
<nav class="sidebar">

    <a href="{% url 'adminpanel:dashboard' %}" class="sidebar-item">
        <span class="material-icons">home</span>
        <span>Dashboard</span>
    </a>

    <a href="{% url 'adminpanel:admin_users' %}" class="sidebar-item">
        <span class="material-icons">people</span>
        <span>Users</span>
    </a>

    <div class="sidebar-dropdown">
        <div class="sidebar-item dropdown-toggle" onclick="toggleProducts()">
            <span class="material-icons">inventory</span>
            <span>Products</span>
            <span class="material-icons arrow">expand_more</span>
        </div>

        <div class="dropdown-menu" id="productsMenu">
            <a href="{% url 'product:brand_list' %}">Brand</a>
            <a href="{% url 'product:category_list' %}">Category</a>
            <a href="{% url 'product:unit_list' %}">Unit</a>
            <a href="{% url 'product:product_list' %}">Product</a>
            <a href="{% url 'product:batch_list' %}">Batch</a>
        </div>
    </div>

    <a class="sidebar-item logout">
        <span class="material-icons">logout</span>
        <span>Logout</span>
    </a>

</nav>
