    <nav class="sidebar" id="sidebar">
        <div class="sidebar-item active">
            <span class="material-icons">home</span>
            <span>Dashboard</span>
        </div>
        <a href="{% url 'adminpanel:admin_users' %}" class="sidebar-item">

    <span class="material-icons">people</span>
    <span>Users</span>
</a>

        
        <div class="sidebar-item">
            <span class="material-icons">inventory</span>
            <span>Products</span>
        </div>
        <div class="sidebar-item">
            <span class="material-icons">assignment</span>
            <span>Orders</span>
        </div>
        <div class="sidebar-item">
            <span class="material-icons">folder</span>
            <span>Categories</span>
        </div>
        <div class="sidebar-item">
            <span class="material-icons">bar_chart</span>
            <span>Reports</span>
        </div>
        <div class="sidebar-item">
            <span class="material-icons">settings</span>
            <span>Settings</span>
        </div>
        <hr>
        <div class="sidebar-item">
            <span class="material-icons">logout</span>
            <span>Logout</span>
        </div>
    </nav>
