{% extends 'adminpanel/base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="card shadow-sm mx-auto" style="max-width: 500px;">
        <div class="card-header bg-dark text-white">
            <h5 class="mb-0">Unit of Measurement</h5>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Unit Name</label>
                    {{ form.name }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Symbol</label>
                    {{ form.symbol }}
                </div>

                <div class="mb-3 form-check">
                    {{ form.is_active }}
                    <label class="form-check-label">Active</label>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                    <a href="{% url 'product:unit_list' %}" class="btn btn-secondary">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
